</div>
    <div class="footer">
        <div class="row footer">
        
            <div class="col-lg-12 text-center footer">
              <p>Developer: <h3><i>Ashutosh Kumar</i></h3></p>
                        <p>Follow Us :&nbsp;
                            <a  href="https://www.facebook.com/ashutoshks2" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;
                            <a  href="https://plus.google.com/u/0/106590744126352363420" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;&nbsp;
                           <a href="https://www.youtube.com/channel/UCbe24jit85sdrWTmEKH8kDg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a> &nbsp;&nbsp;
						   <a  href="https://www.linkedin.com/in/ashu535/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                        </p>

           </div>
         </div>
     </div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>